<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventures into the Heart of Wildlife</title>
    <link rel="icon" href="{{url_for('static',filename='logo.png')}}" type="image/png">
    <link rel="stylesheet" href="{{url_for('static',filename='frog.css')}}">
</head>
<body>
    <header>
        <div class="header">
            <div class="text">
              <h1>Poison Dart Frog</h1>
              <p>The Poison Dart Frog is a rare animal known for its beauty and vibrant colors. Despite its small size, it carries a potent toxin, considered one of the most lethal in nature.</p>
            </div>
            <div class="image">
              <img src="{{url_for('static',filename='frog1.jpg')}}" alt="frog">
            </div>
        </div>
        
    </header>
    <div class="grid-container">
        <div class="item-1" >
            <h2>Appearance</h2>
            <ul>
                <li><strong> <span>Colors :</span></strong> Vibrant colors such as blue, yellow, green, red, and orange act as a warning to predators.</li>
                <li><strong> <span>Size :</span></strong> Very small, usually ranging from 1.5 to 6 cm in length.</li>
                <li><strong><span>Skin :</span></strong> Smooth skin coated with a thin layer of toxin.</li>
            </ul>
        </div>
        
        <div class="item-2" >
            <h2>Natural Habitat</h2>
            <ul>
                <li><strong><span>Habitat :</span></strong> Found in the rainforests of Central and South America, particularly in Costa Rica, Panama, Colombia, and Ecuador.</li>
                <li><strong><span>environnement</span></strong> Prefers humid areas, such as lowlands near water sources.</li>
            </ul>
        </div>
        
        <div class="item-3" >
            <h2>Behavior and Diet</h2>
            <ul>
                <li><strong><span>Behavior :</span></strong> Active during the day and avoids confrontation, relying on its toxin for protection.</li>
                <li><strong><span>Diet :</span></strong> Feeds on small insects like ants, flies, and spiders. The toxin in its skin is derived from its diet, particularly toxic ants.</li>
            </ul>
        </div>

        <div class="item-4" >
            <h2>Toxin</h2>
            <ul>
                <li><strong><span>Toxicity :</span></strong> The toxin it secretes can paralyze or kill predators, including humans. Some species produce enough toxin to kill 10 adult humans.</li>
                <li><strong><span>Traditional Use :</span></strong> Indigenous people used the frog’s toxin to coat arrowheads for hunting.</li>
            </ul>
        </div>

        <div  class="item-5">
            <h2>Famous Species</h2>
            <div class="flex-container">
                <ul>
                    <div>
                        <li><strong> <span>Blue Poison Dart Frog :</span></strong> Known for its bright blue color with black spots.</li>
                        <img class="img" src="{{url_for('static',filename='frog2.jpg')}}" alt="blue poison dart frog" >
                    </div>
                    <div>
                        <li><strong> <span>Golden Poison Dart Frog :</span></strong> Considered the most toxic among all species.</li>
                        <img class="img" src="{{url_for('static',filename='frog4.jpg')}}" alt="golden dart frog"  >
                    </div>
                </ul>
            </div>
            
        </div>

        <div class="item-6">
            <h2>Threats and Conservation</h2>
            <ul>
                <li><strong> <span>Threats :</span></strong> Habitat loss due to deforestation, climate change, and illegal collection for the pet trade.</li>
                <li><strong> <span>Conservation Status :</span></strong> Some species are endangered, with conservation programs focusing on preserving rainforests and their habitats.</li>
            </ul>
        </div>

        <div  class="item-7">
            <h2>Fascinating Facts</h2>
            <ul>
                <li>Poison dart frogs raised in captivity and deprived of their natural diet are not toxic.</li>
                <li>Their vibrant colors serve as a natural defense system to warn predators of their danger.</li>
                <li>The golden poison dart frog carries enough toxin to kill 20,000 small mice.</li>
            </ul>
        </div>
       
    </div>
        

    <footer>
        <p>&copy ; 2024 Poison Dart Frog Facts. All rights reserved.</p>
    </footer>
</body>
</html>





