<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Adventures into the Heart of Wildlife</title>
        <link rel="icon" href="{{url_for('static',filename='logo.png')}}" type="image/png">
        <link rel="stylesheet" href="{{url_for('static',filename='leopard.css')}}">
    </head>
    <body>

        <header> 
            <h1>The black leopard</h1>
        </header>

        <p>The black leopard, also known as the «black panther", is a rare animal belonging to the big cat family (Panthera). It is characterized by its dark black color, which gives it a unique and captivating appearance. The black leopard gets its name from a genetic mutation known as melanism, which increases the production of melanin pigment in the skin and fur.</p>

        <div class="grid-container">

            <div class="item-1" >
                <h2>Scientific Classification:</h2>
                    <ul>
                    <li> <span>Scientific Name:</span> There is no separate species called the black panther; it is one of the leopards or jaguars (e.g., Panthera pardus or Panthera onca) with melanism.</li>
                    <li> <span>Family:</span> Felidae (cats).</li>
                    <li> <span>Distribution:</span> Relatively common in Asia and Africa (leopards) and South America (black jaguars).</li>
                </ul>
            </div>
            
            <div class="item-2">
                <h2>Appearance and Characteristics:</h2>
                <ul>
                    <li> <span>Color:</span> Completely black, though spotted patterns can be seen up close under certain light conditions.</li>
                    <li> <span>Size:</span> Similar in size to others of its species, weighing between 30–90 kg, depending on species and gender.</li>
                    <li> <span>Eyes:</span> Typically yellow or green, adding to its striking appearance</li>
                </ul>
             </div>

            <div class="item-3">
                <h2>Threats:</h2>
                <ul>
                    <li> <span>Poaching:</span> Due to its beautiful fur, it is a target for hunters.</li>
                    <li> <span>Habitat Loss:</span> Deforestation reduces its natural habitat.</li>
                    <li> <span>Captive Breeding:</span> It is relatively rare in zoos and reserves.</li>
                </ul>
            </div>

            <div class="item-4">
                <h2>Fascinating Facts:</h2>
                <ul>
                    <li> <span>Cultural Symbolism:</span> The black panther is a symbol of strength and mystery in many cultures.</li>
                    <li> <span>Visual Disappearance:</span> Its black color provides excellent camouflage, making it hard to spot at night.</li>
                    <li> <span>Rarity of Melanism:</span> Only about 11% of leopards exhibit melanism in most regions.</li>
                </ul>
            </div>
    
            <div class="item-5"> 
                <h2>Behavior and Diet:</h2>
                <ul>
                    <li> <span>Behavior:</span>  A solitary animal that avoids humans and is primarily nocturnal (active at night).</li>
                    <li> <span> Diet:</span> A skilled carnivore, relying on its speed and strength to hunt. It feeds on deer, wild boar, monkeys, and sometimes birds.</li>
    
                </ul>
            </div>
        </div>
        <footer>

        </footer>
    </body>

</html>



